body {
    font-family: sans-serif;
    color: gray;
    box-sizing: border-box;
}

.game {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    margin: 1rem;
    width: 20%;
    height: 35vh;
    border: 2px solid lightgray;
    border-radius: 20px;
    box-shadow: 5px 5px 8px lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
